{% extends "includes/layout.njk" %}

{% block content %}

    <div class="container p-5">

        <h3>راهنمای سامانه</h3>
        <br>
        <div class="card">
            <div class="card-block">
                <ul>
                    <li>توجه داشته باشید که آدرس سایت حتما با https://login.aut.ac.ir شروع شده باشد.</li>
                    <li>در صورتی که نام کاربری ندارید حتما در اسرع وقت به انفورماتیک دانشگاه مراجعه نمایید.</li>
                    <li>
                        <span>در صورتی که مشکلی در ورود و یا نوع کاربری خود دارید از طریق support@aut.ac.ir ما را مطلع سازید.</span>
                    </li>
                    <li>
                        <span>هدف از این سامانه بالا بردن سرعت اینترنت بیشتر کاربران است.</span>
                    </li>
                    <li>
                        <strong>توجه داشته باشید سیستم ورود قدیمی به زودی غیرفعال خواهد شد.</strong>
                    </li>
                    <li>
                        <span>برای خروج از حساب کاربری خود از لینک https://login.aut.ac.ir استفاده کنید.</span>
                    </li>
                </ul>
            </div>
        </div>

    </div>

{% endblock %}