{% extends "includes/layout.njk" %}

{% block content %}

    <div class="container p-5">

        <h3>راهنمای سامانه</h3>
        <br>
        <div class="card">
            <div class="card-block">
                <p>
                این صفحه به زودی تکمیل می شود.
                </p>
                <p>کاربر گرامی چنانچه مصرف شما از در هر کدام از پله های زیر از حد مجاز رد شود سرعت شما بر روی پله بعدی تنظیم خواهد شد</p><p>
                    پیشنهاد ما این است که مصرف روزانه و هفتگی خود را به گونه ای مدیریت نمایید تا از حد مجاز تجاوز نکند تا همیشه با سرعت نامحدود از اینترنت لذت ببرید.</p>
            </div>
        </div>

    </div>

{% endblock %}