<% include includes/head.ejs %>

<div class="login-page">
    <div class="col-xs-12 col-sm-3 actions-box">
        <a class="btn btn-outline-primary btn-lg btn-block" href="/login">
            <span>ورود با شناسه امیرکبیر</span>
        </a>
        <br>
        <a class="btn btn-block btn-outline-info" href="https://sso.aut.ac.ir">
            <span>شناسه ندارید؟ فعال سازی شناسه یکتا</span>
        </a>
        <br>
        <a class="btn btn-outline-warning btn-block" href="?old=1">
            <span>سیستم ورود قدیمی</span>
        </a>
    </div>
</div>

<% include includes/footer.ejs %>