{% extends "includes/layout.njk" %}

{% block content %}
    <div class="login-page">
        <div class="col-xs-12 col-sm-3 actions-box">
            <a class="btn btn-primary btn-lg btn-block" href="/login">
                <span>ورود با شناسه امیرکبیر</span>
            </a>
            <br>
            <a class="btn btn-secondary btn-block" href="?old=1">
                <span>سیستم ورود قدیمی</span>
            </a>
        </div>
    </div>
{% endblock %}