{% extends "includes/layout.njk" %}

{% block content %}
    <div class="text-center mt-4">
        <div class="text-center">
            <span>{{ user.name }}</span>
            <span> خوش آمدید، شما تا لحظاتی دیگر به صفحه مورد نظر هدایت خواهید شد...</span>
            <br>
            <br>
            <form method="post" action="https://login.aut.ac.ir/login" id="redirect-form">
                <input name="username" type="hidden" value="{{ username }}">
                <input name="password" type="hidden" value="{{ password }}">
                <input type="hidden" name="dst" value="{{ dst }}">
                <input type="hidden" name="popup" value="false">
                <input type="hidden" id="cookie" name="erase-cookie" value="false">
                <button type="submit" class="btn btn-secondary">درصورتی که منتقل نشدید اینجا کلیک کنید</button>
            </form>
        </div>
    </div>

    <script>
        setTimeout(function () {
            document.getElementById("redirect-form").submit();
        }, 3000);
    </script>

    </div>

{% endblock %}