{% extends "includes/layout.njk" %}

{% block content %}
    <div class="pt-4 row">
        <div class="col-md-3 col-sm-12 mb-3">

            <div class="list-group">

                <div class="list-group-item active">
                    <span>سامانه اینترنت</span>
                </div>

                {% if(username) %}
                    <div class="list-group-item ">
                        <span>نام کاربری: </span>
                        <strong> {{ username }} </strong>
                    </div>
                {% endif %}

                <div class="list-group-item">
                    <span>گروه کاربری: </span>
                    <strong> {{ group }} </strong>
                </div>

                <div class="list-group-item">
                    <span>آی پی شما: </span>
                    <strong> {{ ip }}</strong>
                </div>

                <a href="/status/logout" class="list-group-item list-group-item-danger">
                    {% if(username) %}
                        <span> خروج از حساب</span>
                    {% else %}
                        <span>خروج از اینترنت</span>
                    {% endif %}
                </a>
            </div>
        </div>

        <div class="col-md-9 col-sm-12">

            {% if(dst) %}
                <div class="alert alert-success">
                    <h4>شما با موفقیت وارد شدید.</h4>
                    <div>در غیر این صورت پس از ۳۰ ثانیه به تارنمای <a class="" href="{{ dst }}">{{ dst }}</a>هدایت می
                        شوید.
                    </div>
                    <a class="btn btn-lg btn-success btn-block" href="{{ dst }}">ادامه به تارنمای مورد نظر</a>
                </div>
            {% endif %}

            {% if logout %}
                <div class="alert alert-info alert-dismissable">
                    <span>درخواست قطع اتصال </span>
                    <span> {{ logout }} </span>
                    <span> ارسال شد.</span>
                </div>
            {% endif %}

            {% if status.active_type == 'yearly' %}
                <div class="alert alert-danger alert-dismissable">
                    <span>مصرف شما از حد مجاز بیشتر شده است.</span>
                    <span> از این پس با سرعت پایین می توانید از اینترنت استفاده کنید.</span>
                </div>
            {% endif %}

            <div class="alert alert-success alert-dismissable">
                <span>شما روزانه تا میزان</span>
                <strong>{{ status.packages[0].total }}</strong>
                <span> با سرعت نامحدود می توانید از اینترنت استفاده کنید، مادامی که حجم هفتگی یا ماهیانه شما به پایان نرسیده باشد.</span>
                <br>
                <span> از ساعت 2 شب تا 7 صبح حجم مصرفی شما با ضریب 0.1 محاسبه می گردد.</span>
            </div>


            <div class="row">
                {% for package in status.packages %}
                    <div class="col-md-4 col-sm-12">
                        <div class="card package mb-2 {% if(package.active) %} active {% endif %}">
                            <div class="card-block text-center">
                                {# Guage component #}
                                <div class="gauge-c">
                                    <div class="gauge {{ package.color }}">
                                        <div class="mask">
                                            <div class="semi-circle"></div>
                                            <div class="semi-circle--mask" style="
                                                    -webkit-transform: rotate({{ package.degree }}deg);
                                                    -moz-transform: rotate({{ package.degree }}deg);
                                                    transform: rotate({{ package.degree }}deg);
                                                    "></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="text-muted">
                                    {{ package.usage }}
                                </div>
                            </div>
                            <div class="card-footer text-center card-{{ package.color2 }}">
                                <h5>{{ package.title }} {{ package.total }}</h5>
                                {{ package.title2 }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="row">
                <div class="col-12 hidden-xs-down">
                    <div class="card mt-5 hidden-md-down2">
                        <div class="card-header">
                            <span>دستگاه های فعال</span>
                        </div>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>آی پی</th>
                                <th>مکان</th>
                                <th>میزان مصرف</th>
                                <th>زمان ورود به سامانه</th>
                                <th>قطع اتصال</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for session in status.sessions %}
                                <tr>
                                    <td>{{ session.ip }}</td>
                                    <td>{{ session.location }}</td>
                                    <td>{{ session.usage }}</td>
                                    <td>{{ session.time }}</td>
                                    <td>
                                        {% if session.ip != ip %}
                                            <a class="btn btn-sm btn-danger"
                                               href="/status/logout/{{ session.ip }}">
                                                x
                                            </a>
                                        {% else %}
                                            <span>دستگاه فعلی</span>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block styles %}
    <link href="/static/css/gauge.css" rel="stylesheet">

    {% if(dst) %}
        <meta http-equiv="refresh" content="30; url={{ dst }}">
    {% endif %}

{% endblock %}

{% block scripts %}
    <script>
        window.onload = function () {
            setInterval(function () {
                window.location.reload();
            }, 1000 * 60);
        }
    </script>
{% endblock %}