{% extends "includes/layout.njk" %}

{% block content %}

    <div class="pt-4 container">

        <div class="col-md-3">
            <div class="list-group">

                <div class="list-group-item active">
                    <span>جزیات مصرف اینترنت</span>
                </div>

                <div class="list-group-item">
                    <span>گروه کاربری: </span>
                    <strong> {{ group }} </strong>
                </div>

                <div class="list-group-item">
                    <span>نام کاربری: </span>
                    <strong> {{ username }} </strong>
                </div>

                <div class="list-group-item">
                    <span>آدرس آی پی: </span>
                    <strong> {{ ip }}</strong>
                </div>

                {% if(auth) %}
                    <a href="/logout" class="list-group-item list-group-item-danger">خروج از اینترنت</a>
                    {#                <a href="/logout/all" class="list-group-item list-group-item-action">خروج تمامی دستگاه ها از اینترنت</a>#}
                    {#            {% endif %}#}
                {% else %}
                    <a class="list-group-item list-group-item-success" href="/login">
                        <span>ورود به سیستم</span>
                    </a>
                {% endif %}
            </div>
        </div>

        <div class="col-md-9">

            {% if status.active_type == 'yearly' %}
                <div class="alert alert-danger alert-dismissable">
                    <span>مصرف شما از حد مجاز بیشتر شده است.</span>
                    <span> از این پس با سرعت پایین می توانید از اینترنت استفاده کنید.</span>
                </div>
            {% endif %}


            <div class="row">
                {% for package in status.packages %}
                    <div class="col-md-4">
                        <div class="card mb-2 {% if(package.active) %} active-package {% endif %}">
                            <div class="card-block text-center">
                                {# Guage component #}
                                <div class="gauge-c">
                                    <div class="gauge">
                                        <div class="mask">
                                            <div class="semi-circle"></div>
                                            <div class="semi-circle--mask" style="
                                                    -webkit-transform: rotate({{ package.degree }}deg);
                                                    -moz-transform: rotate({{ package.degree }}deg);
                                                    transform: rotate({{ package.degree }}deg);
                                                    "></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="text-muted">
                                    {{ package.usage }} از {{ package.total }}
                                </div>
                            </div>
                            <div class="card-footer text-center">
                                <span>ترافیک </span>
                                {{ package.title }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="card mt-5">
                <div class="card-header">
                    <span>کانکشن های فعال</span>
                </div>
                <table class="table table-striped card-block table-bordered">
                    <thead>
                    <tr>
                        <th>IP</th>
                        <th>دانلود</th>
                        <th>زمان اتصال</th>
                        <th>قطع اتصال</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for session in status.sessions %}
                        <tr>
                            <td>{{ session.ip }}</td>
                            <td>{{ session.usage }}</td>
                            <td>{{ session.time }}</td>
                            <td>
                                <a class="btn btn-sm btn-danger"
                                   href="/sessions/logout/{{ session.id }}">
                                    x
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block styles %}
    <link href="/static/css/gauge.css" rel="stylesheet">
{% endblock %}