---
services:
  radius-db:
    image: docker.io/library/mysql
    ports:
      - 3306:3306
    volumes:
      - ./migrations/radacct.sql:/docker-entrypoint-initdb.d/radacct.sql
      - ./migrations/raddaily.sql:/docker-entrypoint-initdb.d/raddaily.sql
      - ./migrations/radpackages.sql:/docker-entrypoint-initdb.d/radpackages.sql
      - ./migrations/radusergroup.sql:/docker-entrypoint-initdb.d/radusergroup.sql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: opnsense
      MYSQL_PASSWORD: opnsense@123
      MYSQL_DATABASE: radius

  app:
    build: .
    ports:
      - 8080:1378
    depends_on:
      - radius-db
    environment:
      INTERNET_DATABASE__HOST: radius-db
      INTERNET_DATABASE__PORT: 3306
      INTERNET_DATABASE__USERNAME: opnsense
      INTERNET_DATABASE__PASSWORD: opnsense%40123
      INTERNET_DATABASE__DATABASE: radius
    profiles:
      - app
