[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sanic = { extras = ["ext"], version = "*" }
rich = "*"
dynaconf = "*"
jinja2 = "*"
sqlalchemy = { extras = ["mypy"], version = "*" }
pymysql = "*"
jdatetime = "*"
httpx = "*"
cryptography = "*"
prometheus-client = "*"

[dev-packages]
pytest = "*"
mypy = "*"
djlint = "*"
pyre-check = "*"
pylint = "*"
wrapt = "*"
dill = "*"

[requires]
python_version = "3.13"
