[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sanic = "*"
rich = "*"
dynaconf = "*"

[dev-packages]
pytest = "*"
mypy = "*"

[requires]
python_version = "3.10"
