@font-face {
    font-family: Shabnam;
    src: url('shabnam.eot');
    src: url('shabnam.eot?#iefix') format('embedded-opentype'),
    url('shabnam.woff') format('woff'),
    url('shabnam.ttf') format('truetype');
    font-weight: normal;
}