@import url(../fonts/farsifont/farsi.css);
@import url(../fonts/glyphicons/glyphicons.css);
@import url(../fonts/material-design-icons/material-design-icons.css);

body, html {
    background-color: #F3EFF5;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    image-rendering: crisp-edges;
    -webkit-font-smoothing: antialiased;

    margin: 0;
    width: 100vw;
    height: 100vh;

    direction: rtl;
}

.body, body, button, input, optgroup, select, textarea {
    font-family: "farsi", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.app {
    display: flex;
    flex-direction: column;
}

.app-container {
    width: 100%;
}

.app-top, .app-footer {
    min-height: 28px;
    display: flex;
    justify-content: center;
    color: white;
}

.app-footer {
    margin-top: 20px;
    padding:10px;
    background-color: #333;
}

.app-top {
    background-color: #3F51B5 !important;
}

.text-white, .text-white * {
    color: white;
}

.btn-circle {
    width: 56px;
    height: 56px;
    border-radius: 28px;
    text-align: center;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white !important;
}

.actions-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none !important;
}

th {
    text-align: right;
}

/*http://stackoverflow.com/questions/2781549*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

/* Toasts */
.mini-toastr {
    direction: rtl;
    right: 12px !important;
    top: inherit !important;
    left: inherit !important;
    bottom: 12px !important;
}

/* Transitions */
.page-enter-active, .page-leave-active {
    transition: opacity .1s
}

.page-enter, .page-leave-to /* .fade-leave-active in <2.1.8 */
{
    opacity: 0
}

.loader-overlay {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(150, 150, 150, .5);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loader,
.loader:after {
    border-radius: 50%;
    width: 32px;
    height: 32px;
}

.loader {
    font-size: 1px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(0, 0, 0, 0.2);
    border-right: 1.1em solid rgba(0, 0, 0, 0.2);
    border-bottom: 1.1em solid rgba(0, 0, 0, 0.2);
    border-left: 1.1em solid #000;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1s infinite linear;
    animation: load8 1s infinite linear;
}

@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.navbar-inverse .navbar-toggler {
    border-color: transparent !important;
}

.package.active {
    /*box-shadow: 7px 7px 20px #888888;*/
}

.package .card-footer {
    color: white;
}

.navbar {
    background-color: #06C !important;
    box-shadow: 0px 1px 5px rgba(0,0,0,.5); 
    padding: 0.5rem 0.5rem !important;
}

.nav-btn {
    border: 1px solid white;
    border-radius: 1000px;
    padding: 10px 5px !important;
    color: white !important;
    transition: all .5s;
}

.nav-btn:hover {
    background: rgba(0,0,0, .2);
}

.package {
    /* border: 3px solid #e8e8e8; */
    /* border-radius: 7px; */
    border: 0;
    box-shadow: 2px 3px 6px 0px grey;
    background: #616161;
}

.package h5 {
    color:white !important ;
}

.package.active {
    /* border-color: grey; */
}

/* Triangle */
.package.active::before {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 64px 64px 0 0;
    border-color: #607D8B transparent transparent transparent;
    position: absolute;
    left: 0;
    top: 0;
    content: "";
}

.package:not(.active) .card-footer {
    box-shadow: inset 0px 0px 400px 210px rgba(255,255,255, .1);
}

.package.active::after {
    font-family: "Glyphicons Halflings";
    content: "\e013";
    color: white;
    position: absolute;
    left: 9px;
    top: 6px;
    text-shadow: 0 0 2px #aabbaa;
    font-size: 1.4rem;
}

.float-btn-container {
    position: fixed;
    bottom: 40px;
    right: 40px;
    display: flex;
    flex-direction: row;
}

.float-btn {
    width: 4rem;
    height: 4rem;
    background-color: #06C;
    color: #FFF !important;
    border-radius: 5000px;
    text-align: center;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
}

.float-btn i {
    font-size: 30px !important;
}

.list-group-item-dark {
    background: #616161;
    color: white;
}
.list-group {
    box-shadow: 2px 3px 6px 0px grey;
    background: transparent;
}

.card {
    border: none;
}

.input-group-addon:first-child {
    border: none;
}