@import url(../fonts/farsifont/farsi.css);
@import url(../fonts/glyphicons/glyphicons.css);
@import url(../fonts/material-design-icons/material-design-icons.css);

.body, body, button, input, optgroup, select, textarea {
    font-family: "Shabnam", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body, .app {
    width: 100vw;
    min-height: 100vh;
    height: 100vh;
    direction: rtl;
    background-color: #F3EFF5;
}

.app {
    display: flex;
    flex-direction: column;
}

.login-page {
    background-size: cover;
//background: url(/bg_test3.jpg) no-repeat fixed center center;
    background-size: cover;
    align-items: center;
    justify-content: center;
}

.app-container, .login-page {
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
}

.app-top, .app-footer {
    min-height: 28px;
    display: flex;
    justify-content: center;
    color: white;
}

.app-footer {
    background-color: #333;
}

.app-top {
    background-color: #0275a8;
}

.text-white, .text-white * {
    color: white;
}

.btn-circle {
    width: 56px;
    height: 56px;
    border-radius: 28px;
    text-align: center;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white !important;
}

.actions-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none !important;
}

th {
    text-align: right;
}

/*http://stackoverflow.com/questions/2781549*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

/* Toasts */
.mini-toastr {
    direction: rtl;
    right: 12px !important;
    top: inherit !important;
    left: inherit !important;
    bottom: 12px !important;
}

/* Transitions */
.page-enter-active, .page-leave-active {
    transition: opacity .1s
}

.page-enter, .page-leave-to /* .fade-leave-active in <2.1.8 */
{
    opacity: 0
}

.loader-overlay {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(150, 150, 150, .5);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loader,
.loader:after {
    border-radius: 50%;
    width: 32px;
    height: 32px;
}

.loader {
    font-size: 1px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(0, 0, 0, 0.2);
    border-right: 1.1em solid rgba(0, 0, 0, 0.2);
    border-bottom: 1.1em solid rgba(0, 0, 0, 0.2);
    border-left: 1.1em solid #000;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1s infinite linear;
    animation: load8 1s infinite linear;
}

@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.navbar-inverse .navbar-toggler {
    border-color: transparent !important;
}