{% if username %}
<div class="d-flex" style="height: 200px;">
  <div class="vr"></div>
</div>
<nav class="navbar bg-body-tertiary">
  <div class="d-flex justify-content-center w-100 text-white">
    <div>
      <p class="text-center mb-1">
      توسعه یافته در
      مرکز فناوری اطلاعات و ارتباطات
      دانشگاه صنعتی امیرکبیر
      </p>
      <p class="text-center mb-0">
        <a href="https://github.com/aut-cic/internet">
          <i class="fs-6 bi bi-github"></i>
        </a>
      </p>
    </div>
  </div>
</nav>
{% endif %}
