<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta name="description" content="" />
    <link rel="icon" href="/public/favicon.ico" />

    <title>سامانه اینترنت امیرکبیر</title>
  </head>
  <body>
    <div class="app">
      {% include "./includes/nav.html" %}

      <div class="app-container container-fluid" style="width: 100%">
        {% block content %} {% endblock %}
      </div>
    </div>

    {% include "./includes/scripts.html" %} {% block scripts %}{% endblock %}
  </body>
</html>
