<nav class="navbar navbar-toggleable-md navbar-inverse">
  <button
    class="navbar-toggler navbar-toggler-left"
    type="button"
    data-toggle="collapse"
    data-target="#navbarsExampleDefault"
    aria-controls="navbarsExampleDefault"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <a class="navbar-brand" href="/">
    <img src="/static/img/aut-light.png" style="max-height: 45px" alt="AUT" />
    {#
    <h6 class="mr-3 hidden-sm-down" style="display: inline">
      سامانه اینترنت دانشگاه صنعتی امیرکبیر
    </h6>
    #}
  </a>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <div class="navbar-nav mr-auto"></div>
  </div>
</nav>
