{% extends "includes/layout.html" %}
{% block content %}
    <style>body { background-image: url(/public/images/login.jpg) }</style>
    <div class="login-page">
        <div class="justify-content-center align-items-center mt-5 col-12">
            <div class="row justify-content-center">
                <div class="col-sm-12 col-md-4">
                    <div class="card">
                        <div class="card-header card-inverse text-bg-primary text-center">{{ messages.internet_login }}</div>
                        <div class="card-body">
                            {% if error %}<div class="alert-dismissable alert alert-danger">{{ error }}</div>{% endif %}
                            <form method="post" action="{{ login_url }}" name="login">
                                <div class="mb-3">
                                    <label>
                                        {{ messages.email }}
                                        <small>
                                            <a href="https://id.aut.ac.ir/ChangePassword">({{ messages.no_id }})</a>
                                        </small>
                                    </label>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text">aut.ac.ir@</span>
                                        <input name="username"
                                               dir="ltr"
                                               type="text"
                                               class="form-control"
                                               placeholder="{{ messages.email }}"
                                               tabindex="1"
                                               data-placement="top"
                                               data-trigger="manual"
                                               data-content="لطفا شناسه کاربری معتبر وارد کنید."
                                               required />
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label>
                                        {{ messages.password }}
                                        <small>
                                            <a href="https://register.aut.ac.ir/forgot-password/index">({{ messages.forgot_password }})</a>
                                        </small>
                                    </label>
                                    <input dir="ltr"
                                           type="password"
                                           name="password"
                                           class="form-control"
                                           tabindex="2"
                                           required
                                           placeholder="{{ messages.password }}" />
                                </div>
                                <input type="hidden" name="dst" value="{{ dst }}" />
                                <input type="hidden" name="popup" value="false" />
                                <input type="hidden" id="cookie" name="erase-cookie" value="false" />
                                <div class="d-grid">
                                    <button type="submit" class="btn btn-success btn-lg" tabindex="3">
                                        <span>{{ messages.login }}</span>
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div class="card-footer text-muted text-center d-flex justify-content-between">
                            <a href="https://id.aut.ac.ir/ChangePassword">{{ messages.change_password }}</a>
                            <a href="/?lang={{ messages.other_lang_key }}">{{ messages.switch_lang }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
