{% extends "includes/layout.html" %}

{% block content %}
<style> body { background-image: url(/public/images/login.jpg) } </style>

<div class="login-page">
  <div class="justify-content-center align-items-center mt-5 col-12">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-4">
        <div class="card">

          <div class="card-header card-inverse card-primary text-center">
            {{ messages.internet_login }}
          </div>

          <div class="card-body">

            {% if error %}
            <div class="alert-dismissable alert alert-danger">
              {{ error }}
            </div>
            {% endif %}

            {% if(external) %}

            <p class="text-muted">
            <span>ورود به سیستم فقط برای کاربران داخل دانشگاه امکان پذیر است.</span>
            <span>لطفا بررسی فرمایید نرم افزار عبور از تحریم استفاده نشده باشد.</span>
            </p>

            {% else %}
            <form method="post"
              action="https://login.aut.ac.ir/login"
              class="form"
              name="login"
              onsubmit="fixLoginForm()"
              >

              <div class="mb-3">
                <label>
                  {{ messages.email }}
                  <small>
                    <a href="https://sepehr.aut.ac.ir/cic/admin/?f=p1&amp;s=ad.add&amp;l=1">
                      <span>({{ messages.no_id }})</span>
                    </a>
                  </small>
                </label>
                <div class="input-group mb-3">
                  <span class="input-group-text">aut.ac.ir@</span>
                  <input name="username" dir="ltr" type="text" class="form-control"
                  placeholder="{{ messages.email }}"
                  tabindex="1"
                  onchange="fixLoginForm()"
                  data-placement="top" data-trigger="manual"
                  data-content="لطفا شناسه کاربری معتبر وارد کنید." required>
                </div>
              </div>

              <div class="mb-3">
                <label>
                  {{ messages.password }}
                  <small>
                    <a href="https://sepehr.aut.ac.ir/cic/admin/?f=p1&amp;s=ad.pw&amp;l=1">
                      <span>({{ messages.forgot_password }})</span>
                    </a>
                  </small>
                </label>
                <input dir="ltr" type="password" name="password" class="form-control"
                tabindex="2"
                required
                placeholder="{{ messages.password }}">
              </div>
              <input type="hidden" name="dst" value="{{ dst }}">
              <input type="hidden" name="popup" value="false">
              <input type="hidden" id="cookie" name="erase-cookie" value="false">
              <button type="submit" class="btn btn-success btn-lg btn-block" tabindex="3">
                <span>{{ messages.login }}</span>
              </button>
            </form>
            {% endif %}
          </div>
          <div class="card-footer d-flex justify-content-between">
            <a href="https://sepehr.aut.ac.ir/cic/admin/?f=p1&amp;s=ad.pw.change&amp;l=1">
              {{ messages.change_password }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
