{% extends "includes/layout.html" %}
{% block content %}
    {% for package in status.packages %}
        {% if(package.danger and package.active) %}
            <div class="modal fade" tabindex="-1" id="packageModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">بسته‌ی کنونی شما</h5>
                        </div>
                        <div class="modal-body">
                            <p>
                                بسته
                                <i>{{ package.title }}</i> با <strong class="badge text-bg-danger">{{ package.speed }}</strong>
                                برای شما فعال است.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
    <div class="pt-4 row">
        <div class="col-md-3 col-sm-12 mb-3">
            <div class="list-group">
                <div class="list-group-item active">
                    <span>سامانه اینترنت</span>
                </div>
                {% if username %}
                    <div class="list-group-item list-group-item-dark">
                        <span {{ rand }}>نام کاربری: </span>
                        <strong>{{ username }}</strong>
                    </div>
                {% endif %}
                <div class="list-group-item list-group-item-dark">
                    <span>گروه کاربری:</span>
                    <strong>{{ group }}</strong>
                </div>
                <div class="list-group-item list-group-item-dark">
                    <span>آی پی شما:</span>
                    <strong>{{ ip }}</strong>
                </div>
                <div class="list-group-item list-group-item-dark">
                    <span>مکان:</span>
                    <strong>{{ location }}</strong>
                </div>
            </div>
            <div class="text-center mt-3">
                <a href="/logout/{{ status.current_session.id }}" class="btn btn-danger">
                    <span>خروج از اینترنت</span>
                </a>
            </div>
        </div>
        <div class="col-md-9 col-sm-12">
            {# Logout Message #}
            {% if logout %}
                <div class="alert alert-info alert-dismissable">
                    <span>درخواست قطع اتصال</span>
                    <span>{{ logout }}</span>
                    <span>ارسال شد.</span>
                </div>
            {% endif %}
            {# Announcements #}
            {% for accouncement in announcements %}
                <div class="alert alert-{{ accouncement.type }} text-bg-{{ accouncement.type }}">
                    {{ accouncement.message | safe }}
                </div>
            {% endfor %}
            {# Packages #}
            <div class="row">
                {% for package in status.packages %}
                    <div class="col-12 col-md-3">
                        <div class="card package mb-2 {% if(package.active) %} active {% else %} hidden-sm-down {% endif %}">
                            {% if(package.active) %}
                                <div class="triangle">
                                    <i class="bi bi-check-lg"></i>
                                </div>
                            {% endif %}
                            <div class="card-block text-center">
                                <div id="package-{{ package.type }}"
                                     class="gauge-container {{ package.cardColor }}"></div>
                            </div>
                            <div class="card-footer text-center text-bg-{{ package.cardColor }}">
                                <h5>{{ package.speed }}</h5>
                                <h6>{{ package.title }}</h6>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {# Sessions #}
            <div class="row">
                <div class="col-12 hidden-xs-down">
                    <div class="card mt-5">
                        <div class="card-header">
                            <span>دستگاه های فعال</span>
                        </div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>آی پی</th>
                                    <th>مکان</th>
                                    <th>میزان مصرف</th>
                                    <th>زمان ورود به سامانه</th>
                                    <th>قطع اتصال</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for session in status.sessions %}
                                    <tr>
                                        <td>{{ session.ip }}</td>
                                        <td>{{ session.location }}</td>
                                        <td>
                                            {{ session.usage }}
                                        </td>
                                        <td>
                                            {{ session.time }}
                                        </td>
                                        <td>
                                            {% if session.ip != ip %}
                                                <a class="btn btn-sm btn-danger" href="/logout/{{ session.id }}">x</a>
                                            {% else %}
                                                <span>دستگاه فعلی</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {# Usage History #}
            <div class="row">
                <div class="col-12">
                    <div class="card mt-5">
                        <div class="card-header">
                            <span>مصرف 30 روز اخیر شما</span>
                        </div>
                        <div class="card-block">
                            <canvas id="usageChart" width="100%"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block scripts %}
    <script>
    const units = [
          "کیلوبایت",
          "مگابایت",
          "گیگابایت",
          "ترابایت",
          "PiB",
          "EiB",
          "ZiB",
          "YiB",
        ];
    function humanFileSize(bytes) {
          const thresh = 1024;
          if (isNaN(bytes)) {
                return "∞";
              }
          if (Math.abs(bytes) < thresh) {
                return "0 مگابایت";
              }
          let u = -1;
          do {
                bytes /= thresh;
                ++u;
              } while (Math.abs(bytes) >= thresh && u < units.length - 1);
          if (u < 2 || (bytes * 10) % 10 === 0)
            return bytes.toFixed(0) + " " + units[u];
          return bytes.toFixed(1) + " " + units[u];
        }
    </script>
    <script>
    {% for package in status.packages %}
      let {{ package.type }} = Gauge(document.getElementById("package-{{ package.type }}"), {
            max: 100,
            label: function()  {
                return '{{ package.usage}} / {{ package.total }}'
            },
            value: 0,
          });
      {{package.type}}.setValueAnimated({{ package.percent }}, 1);
    {% endfor %}
    </script>
    <script>
    new Chart(document.getElementById("usageChart"), {
          type: 'bar',
          data: {
            labels: {{ history.labels | safe }},
            datasets: [{
              label: 'میزان مصرف ثبت شده',
              data: {{ history.usage | safe }},
              backgroundColor: "rgba(31,119,180,0.8)",
            },
            {
              label: 'میزان مصرف تخفیف خورده',
              data: {{ history.discount | safe }},
              backgroundColor:"rgba(254,127,14,0.8)",
            }]
          },
          options: {
                responsive: true,
                plugins: {
                  tooltip: {
                    mode: 'index',
                    intersect: false,
                    bodyFont: {
                      family: "'Vazirmatn FD'",
                    },
                    footerFont: {
                      family: "'Vazirmatn FD'",
                    },
                    callbacks: {
                      // Returns text to render for an individual item in the tooltip.
                      label: function(context) {
                        return humanFileSize(context.raw);
                      },
                      // Returns text to render as the footer of the tooltip.
                      // Footer is the same for all of the datasets.
                      footer: function(context) {
                        return humanFileSize(context[0].raw + context[1].raw);
                      }
                    },
                  },
                  legend: {
                    labels: {
                      font: {
                        family: "'Vazirmatn FD'"
                      },
                    },
                  },
                },
                scales: {
                  y: {
                    stacked: true,
                    ticks: {
                      callback: function (label, index, labels) {
                        return humanFileSize(label)
                      },
                      font: {
                        family: "'Vazirmatn FD'"
                      },
                    },
                  },
                  x: {
                    stacked: true,
                    ticks: {
                      font: {
                        family: "'Vazirmatn FD'"
                      },
                    },
                  }
                }
              }
        });
    </script>
{% endblock scripts %}
