</div>

<div class="app-footer hidden-md-down">
    <div class="m-2">
        <span>کلیه حقوق برای دانشگاه صنعتی امیرکبیر محفوظ است</span>
    </div>
</div>

<% include scripts.ejs %>
<% include modal.ejs %>

</body>
</html>