<!DOCTYPE html>
<html lang="fa">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <link rel="icon" href="/static/favicon.ico">

    <title>سامانه اینترنت امیرکبیر</title>

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/rtl.css" rel="stylesheet">
    <link href="/static/css/app.css" rel="stylesheet">
    {% block styles %} {% endblock %}

</head>
<body>

<div class="app">
    {% include "./nav.njk" %}

    <div class="app-top">
        <div class="p-2">
            <span>سامانه اینترنت دانشگاه صنعتی امیرکبیر</span>
        </div>
    </div>

    <div class="app-container container-fluid" style="width: 100%">
        {% block content %} {% endblock %}
    </div>

    <style>
        .floatBtn {
            position: fixed;
            width: 60px;
            height: 60px;
            bottom: 40px;
            right: 40px;
            background-color: #06C;
            color: #FFF !important;
            border-radius: 50px;
            text-align: center;
            box-shadow: 2px 2px 3px #999;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .floatBtn i {
            font-size: 30px !important;
        }
    </style>
    <a href="#" class="floatBtn">
        <i class="material-icons">help_outline</i>
    </a>
</div>

{% include "./scripts.njk" %}
{% block scripts %} {% endblock %}
{% include "./modal.njk" %}

</body>
</html>