<!DOCTYPE html>
<html lang="fa">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <link rel="icon" href="/static/favicon.ico">

    <title>سامانه اینترنت امیرکبیر</title>

    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/rtl.css" rel="stylesheet">
    <link href="/static/css/app.css" rel="stylesheet">
    {% block styles %} {% endblock %}

</head>
<body>

<div class="app">
    {% include "./nav.njk" %}

    <div class="app-container container-fluid" style="width: 100%">
        {% block content %} {% endblock %}
    </div>

     <div class="float-btn-container">
        <a href="https://support.aut.ac.ir" class="float-btn" target="_blank" 
        data-toggle="tooltip" data-placement="top" title="سامانه پشتیبانی">
            <i class="material-icons">forum</i>
        </a> 

        <a href="tg://resolve?domain=autict" class="float-btn success" target="_blank"
                data-toggle="tooltip" data-placement="top" title="کانال اطلاع رسانی">
            <i class="material-icons">send</i>
        </a> 
    </div>

</div>

{% include "./scripts.njk" %}
{% block scripts %} {% endblock %}
{% include "./modal.njk" %}

</body>
</html>