<!DOCTYPE>
<html lang="fa">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <link rel="icon" href="/static/favicon.ico">

    <title>سامانه اینترنت امیرکبیر</title>

    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/rtl.css" rel="stylesheet">
    <link href="/static/css/app.css" rel="stylesheet">

</head>
<body>


<div class="app">
    {% include "./nav.njk" %}

    <div class="app-top">
        <div class="p-2">
            <span>سامانه اینترنت دانشگاه صنعتی امیرکبیر</span>
        </div>
    </div>

    <div class="app-container">
        {% block content %} {% endblock %}
    </div>

    <div class="app-footer hidden-md-down">
        <div class="m-2">
            <span>کلیه حقوق برای دانشگاه صنعتی امیرکبیر محفوظ است</span>
        </div>
    </div>

</div>


{% include "./scripts.njk" %}
{% include "./modal.njk" %}

</body>
</html>