{# <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">هشدار ورود بدون شناسه</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">توجه:</span>
                    ورود بدون شناسه کاربری دارای سرعت کمتری است
                </div>
                <p>به زودی امکان ورود بدون شناسه کاربری غیرفعال می شود.</p>
                <p>در صورتی که دانشجو هستید <a href="https://sepehr.aut.ac.ir/cic/admin/?f=p1&amp;s=ad.add&amp;l=1">ثبت
                        نام</a> کنید و در غیر این صورت به انفورماتیک مراجعه نمایید.</p>
            </div>
            <div class="modal-footer">
                <a href="https://sepehr.aut.ac.ir/cic/admin/?f=p1&amp;s=ad.add&amp;l=1" class="btn btn-primary">ثبت
                    نام</a>
                <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="guestLogin()">ورود بدون شناسه
                    (با سرعت کم)
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">بستن</button>
            </div>
        </div>
    </div>
</div> #}

<div id="joinModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">چالش اینستاگرامی</h4>
      </div>
      <div class="modal-body">
		<img src="/static/img/chalesh.jpg" />
        <p>
        اولین چالش اینستاگرامی دانشگاه صنعتی امیرکبیر تجربه استفاده خود را از اینترنت در دانشگاه صنعتی امیر کبیر از طریق ارسال عکس در اینستاگرام به اشتراک گذارید.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="joinChannel()">اطلاعات بیشتر</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">لغو</button>
      </div>
    </div>
  </div>
</div>

{% block scripts %}
<script src="/static/js/modal.js?107"></script>
{% endblock %}
