<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">

    <button class="navbar-toggler navbar-toggler-left" type="button" data-toggle="collapse"
            data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand" href="/">دانشگاه صنعتی امیرکبیر</a>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link"
                                    href="http://aut.ac.ir/www/aut/main/?f=p0&amp;s=departments&amp;l=3">دانشکده ها
                    و مراکز آموزشی</a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="https://slogin.aut.ac.ir/#"
                   aria-expanded="false">سرویس ها<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="http://std.aut.ac.ir/">پورتال تغذیه</a></li>
                    <li><a class="dropdown-item" href="http://aut.ac.ir/www/aut/main/?l=3&amp;s=page&amp;p=portal">پورتال
                            دانشگاه</a></li>
                    <li><a class="dropdown-item"
                           href="http://aut.ac.ir/www/aut/main/?l=3&amp;s=page&amp;p=chargoon">اتوماسیون اداری</a>
                    </li>
                    <li><a class="dropdown-item"
                           href="http://emd.aut.ac.ir/applications/Tracking/websitequery.aspx?SoftwareGuid=7C48F1EE-18C0-4406-84B0-3AD426CE5AEE&amp;tableKey=1">پیگیری
                            نامه</a></li>
                    <li><a class="dropdown-item" href="http://library.aut.ac.ir/">کتابخانه</a></li>
                    <li><a class="dropdown-item" href="http://service.aut.ac.ir/">سرویسها</a></li>
                    <li><a class="dropdown-item" href="http://aut.ac.ir/www/aut/main/?l=3&amp;s=page&amp;p=virtual">مدیریت
                            یادگیری</a></li>
                    <li><a class="dropdown-item" href="http://www.aut.ac.ir/aut/fa/AtoZ.aspx?g=1">فهرست وبگاهها</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="https://slogin.aut.ac.ir/#">پست
                    الکترونیکی<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="http://aut.ac.ir/www/aut/main/?l=3&amp;s=page&amp;p=email">پست
                            الکترونیکی</a></li>
                    <li><a class="dropdown-item"
                           href="https://sepehr.aut.ac.ir/cic/admin/?f=p1&amp;s=ad.pw.change&amp;l=1">تغییر کلمه
                            عبور</a></li>
                    <li><a class="dropdown-item"
                           href="https://sepehr.aut.ac.ir/cic/admin/?f=p1&amp;s=ad.pw&amp;l=1">فراموشی کلمه عبور</a>
                    </li>
                    <li><a class="dropdown-item"
                           href="https://sepehr.aut.ac.ir/cic/admin/?f=p1&amp;s=ad.add&amp;l=1">دریافت نام
                            کاربری</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="https://slogin.aut.ac.ir/#">اطلاع
                    رسانی<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item"
                           href="http://www.aut.ac.ir/www/aut/main/?f=p1&amp;s=nw&amp;l=3&amp;id=3517">اخبار</a>
                    </li>
                    <li><a class="dropdown-item"
                           href="http://www.aut.ac.ir/www/aut/main/?f=p0&amp;s=ev.search&amp;l=3&amp;_p_st=1">رویدادها</a>
                    </li>
                    <li><a class="dropdown-item" href="https://slogin.aut.ac.ir/#">اطلاعیه ها</a></li>
                    <li><a class="dropdown-item" href="https://slogin.aut.ac.ir/News.aspx">آرشیو خبر</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="https://slogin.aut.ac.ir/#">ارتباط
                    با ما<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="http://qa.aut.ac.ir/">درخواست از رئیس دانشگاه</a></li>
                    <li><a class="dropdown-item" href="http://ticket.aut.ac.ir/">سیستم اعلام مشکل</a></li>
                    <li><a class="dropdown-item"
                           href="http://aut.ac.ir/www/aut/main/?f=p1&amp;s=nw&amp;l=3&amp;id=1544">فرصتهای
                            همکاری</a></li>
                    <li><a class="dropdown-item" href="http://phone.aut.ac.ir/">دفتر راهنمای تلفن</a></li>
                    <li><a class="dropdown-item"
                           href="http://www.aut.ac.ir/www/aut/main/?f=p0&amp;s=contact&amp;l=3">تماس ها</a></li>
                </ul>
            </li>
            <li><a class="nav-link" href="http://service.aut.ac.ir/">پرسش های متداول</a></li>
            <li><a class="nav-link" href="https://slogin.aut.ac.ir/#">[English]</a>
            </li>
        </ul>
    </div>
</nav>