<nav class="navbar navbar-toggleable-md navbar-inverse bg-primary">

    <button class="navbar-toggler navbar-toggler-left" type="button" data-toggle="collapse"
            data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand" href="/">
        <img src="/static/img/aut-light.png" style="max-height:45px" alt="AUT">
    </a>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item">
                <a class="nav-link" href="/help">
                    <span>راهنمای سامانه</span>
                </a>
            </li>

        </ul>
    </div>
</nav>