<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/tether.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/ie10-viewport-bug-workaround.js"></script>

{# Crisp #}
{#<script type="text/javascript">$crisp = [];#}
{#CRISP_WEBSITE_ID = "d904971e-ad0f-4fde-bb67-6358360081c9";#}
{#(function () {#}
{#    d = document;#}
{#    s = d.createElement("script");#}
{#    s.src = "https://client.crisp.im/l.js";#}
{#    s.async = 1;#}
{#    d.getElementsByTagName("head")[0].appendChild(s);#}
{#})();</script>#}