<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/tether.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/login.js?2"></script>
<script src="/static/js/ie10-viewport-bug-workaround.js"></script>
