---
name: ci
on: push

jobs:
  test-python:
    name: test python
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - run: pip install pipenv
      - run: pipenv install --dev -v
      - run: pipenv run pytest
      - run: pipenv run pyre
      - run: pipenv run mypy .
      - run: pipenv run djlint --profile jinja templates -i 'H021,H031,H006,J018'
      - run: pylint --enable-all-extensions --fail-under 8 internet

  test-node:
    name: test node
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: frontend
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
      - run: npm install
      - run: npm run build
  docker:
    runs-on: ubuntu-latest
    needs:
      - test-python
      - test-node
    if: github.event_name != 'pull_request'
    steps:
      - uses: actions/checkout@v3
      - uses: docker/setup-buildx-action@v2
      - uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: docker/bake-action@v2
        if: ${{ startsWith(github.ref, 'refs/tags/v') }}
        env:
          TAG: ${{ github.ref_name }}
        with:
          push: true
          files: 'docker-bake.json'
      - uses: docker/bake-action@v2
        if: ${{ !startsWith(github.ref, 'refs/tags/v') }}
        with:
          push: true
          files: 'docker-bake.json'
