---
name: ci
on: push

jobs:
  test-python:
    name: test python
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v5
        with:
          version: "0.5.x"
          enable-cache: true
          cache-dependency-glob: "uv.lock"
      - run: uv python install 3.14
      - run: uv sync
      - run: uv run ruff check .
      - run: uv run ruff format --check .
      - run: uv run pytest
      - run: uv run djlint --profile jinja templates -i 'H021,H031,H006,J018'

  test-node:
    name: test node
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: frontend
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v6
      - run: npm install
      - run: npm run build

  docker:
    runs-on: ubuntu-latest
    needs:
      - test-python
      - test-node
    if: github.event_name != 'pull_request'
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: docker/bake-action@v6
        if: ${{ startsWith(github.ref, 'refs/tags/v') }}
        env:
          TAG: ${{ github.ref_name }}
        with:
          push: true
          files: "docker-bake.json"
      - uses: docker/bake-action@v6
        if: ${{ !startsWith(github.ref, 'refs/tags/v') }}
        with:
          push: true
          files: "docker-bake.json"
